@using UserRoles.ViewModels;
@model LoginViewModel;

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="account-container">
    <div class="account-box">
        <h2 class="text-center mb-4">Login</h2>

        <form asp-action="Login" method="post">
            @Html.AntiForgeryToken()

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <div class="input-group">
                    <input asp-for="Password" class="form-control" id="loginPassword" />
                    <button type="button" class="btn btn-outline-secondary" id="toggleLoginPassword" tabindex="-1">
                        <i class="bi bi-eye-slash" id="loginPasswordIcon"></i>
                    </button>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="float-end mb-2">
                <a asp-controller="Account" asp-action="VerifyEmail" class="text-decoration-none">
                    Forgot password?
                </a>
            </div>

            <div class="form-check mb-3">
                <input asp-for="RememberMe" class="form-check-input" />
                <label asp-for="RememberMe" class="form-check-label">
                    @Html.DisplayNameFor(m => m.RememberMe)
                </label>
            </div>

            <input type="submit" value="Login" class="btn btn-success w-100 p-2" />

            <p class="text-center mt-3">
                Don't have an account?
                <a asp-controller="Account" asp-action="Register" class="text-decoration-none">Register</a>
            </p>

            
        </form>
    </div>
</div>

@section Scripts {
    <script>
        const toggleLoginBtn = document.getElementById("toggleLoginPassword");
        const loginInput = document.getElementById("loginPassword");
        const loginIcon = document.getElementById("loginPasswordIcon");

        toggleLoginBtn.addEventListener("click", function () {
            const isPassword = loginInput.type === "password";
            loginInput.type = isPassword ? "text" : "password";
            loginIcon.classList.toggle("bi-eye");
            loginIcon.classList.toggle("bi-eye-slash");
        });
    </script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
